* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
    /* overflow-y: hidden;  */
}

P {
  margin: 0;
  padding: 0;
}

.timtitl {
  color: rgb(67, 67, 116);
  font-weight: 600;
  font-size: 1.2rem;
}
.hri {
  color: rgb(49, 182, 131);
  font-weight: 600;
  font-size: 2.3rem;
  letter-spacing: -1px;
}
.dti {
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: rgb(191, 210, 211);
}

.rder {
  font-weight: 500;
  color: rgb(42, 39, 48);
}
.ress {
  color: rgb(119, 77, 201);
  border:  solid 1px rgb(196, 209, 209);
  border-radius:5rem;
  padding:0.3rem;
}

.reminder,
.period,
.titles {
  min-height: 16vh;
  border-radius: 2px;
  padding-top: 2rem;
  margin-top: 2.5rem;
}

.period{
  /* background-color:rgb(255, 255, 255); */
  border-radius:7.5px;
  /* border: solid rgb(233, 240, 240) 1px; */
  margin-top: 3rem;
  text-align: center;
}
.time{
  font-weight:300;
  font-size:2.5rem;
  color:rgb(131, 94, 255);
  /* text-shadow: 2px 2px 2px rgb(174, 174, 197); */
  word-spacing:0.4rem;
  letter-spacing:2px;
}

.day{
  color:rgb(206, 195, 255);
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight:100;
  letter-spacing:4px;
}

.date{
  color: rgb(77, 184, 255);
  word-spacing: 0.8rem;
}


.ru{
  font-weight: 500;
  color: rgb(190, 186, 228);
  font-size: 13px;
}
.sel{
  color: rgb(73, 169, 248);
  font-weight: 00;
  font-size:2rem;
}
.selm{
  color: rgb(23, 189, 255);
  font-weight: 700;

 
}
.titl {
  word-spacing: 5px;
  font-weight:900;
  font-size: 2.5rem;
  letter-spacing: -0.5px;  
  color: rgb(212, 212, 231);
}

.card-row {
  margin-top:5rem;
  margin-bottom: 5rem;
}

.card {
  padding-top: 1rem;
  min-height: 25vh;
  border-radius:10px;
  border: none;
  margin-top:0.5rem;
  box-shadow: 0px 3px 6px rgb(3, 3, 3);
}

.card:hover{
  border: solid 1px rgb(220, 232, 243);
  background-color: rgb(250, 252, 255);
}

.home-page {
  background-color: rgb(246, 244, 250);
   background-color: rgb(24, 16, 43); 
  /* background-color: rgb(248, 248, 248);  */
  /* padding: 1rem; */
  min-height: 80vh;
}

/* removes the text decoration in router link */
a {
  text-decoration: none;
  color: inherit;
}

.card-title {
  /* color: rgb(108, 108, 245); */
  font-size: 1rem;
  font-weight: 700;
}

.card-text {
  font-weight:500;
  font-size: 13px;
}
.card-title{
  font-size:1.1rem;
  letter-spacing: -0.5px;
}

.icn{
  margin-top:10px;
  padding: 6px;
  border-radius: 1rem;;
  box-shadow: 1px 2px 6px rgb(240, 236, 236);
}


.tasks{
  color: rgb(108, 108, 245);
}
.future{
  color: rgb(11, 146, 199);
}
.pending{
  color: rgb(199, 101, 65);

}
.perfomance{
  /* color: rgb(167, 185, 0); */
  color: rgb(136, 161, 89);
}
.event{
  color: rgb(6, 179, 156);
}











 