* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

P {
  margin: 0;
  padding: 0;
}

.timtitl {
  color: rgb(67, 67, 116);
  font-weight: 600;
  font-size: 1.2rem;
}
.hri {
  color: rgb(49, 182, 131);
  font-weight: 600;
  font-size: 2.3rem;
  letter-spacing: -1px;
}
.dti {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: -1px;
  color: rgb(19, 187, 89);
}

.rder {
  font-weight: 500;
  color: rgb(42, 39, 48);
}
.ress {
  color: rgb(119, 77, 201);
  border:  solid 1px rgb(196, 209, 209);
  border-radius:5rem;
  padding:0.3rem;
}

.reminder,
.period,
.titles {
  min-height: 16vh;
  border-radius: 2px;
  padding-top: 2rem;
  margin-top: 3rem;
}
span {
  color: rgb(29, 201, 121);
  font-weight: 700;
}
.titl {
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: -0.5px;  
}

.card-row {
  margin-top:5rem;
  margin-bottom: 5rem;
}

.card {
  padding-top: 1rem;
  min-height: 25vh;
  border-radius: 8px;
  border: none;
  margin-top:0.5rem;
}

.card:hover{
  border: solid 1px rgb(222, 237, 243);
}

.home-page {
  background-color: rgb(246, 244, 250);
  padding: 1rem;
  min-height: 95vh;
}

/* removes the text decoration in router link */
a {
  text-decoration: none;
  color: inherit;
}

.card-title {
  color: rgb(39, 39, 56);
  font-size: 1rem;
}

.card-text {
  font-weight: 400;
  font-size: 13px;
}
.card-title{
  font-size:1.1rem;
  letter-spacing: -0.5px;
}

.icn{
  margin-top:10px;
}
