 *{
   padding:0;
   margin: 0;
   font-family: Poppins;
 }

.notes{
    background-color:rgb(255, 255, 255);
    /* height:20rem; */
    border-radius:7px;
    padding:2rem;
    border: solid 1px rgb(234, 234, 241);
    margin-top:1.5rem;
}

.note-stat{
  color:rgb(40, 98, 124);
  font-size:11px;
}

.tid-task{
  text-align:center;
  padding-top:2rem;
  font-weight: 300;
  /* padding: 2rem;    */
  /* padding-top:4.2rem; */
}

.note-tihead{
  margin-bottom:none;
  color: rgb(55, 52, 80);
  font-size:1.3rem;   
  font-weight:900;    
}
.note-tic{
  color:rgb(63, 87, 107);
  font-size:13px;
  padding:1px;
  border: solid 1px rgb(184, 218, 181);
  border-radius:3px;
  margin-left: 0.4rem;
}
.note-tod{
  color: rgb(48, 89, 116);
  font-size:10px;
  margin-top:none;
}
.note-avar{
  padding-top:1.3rem;
  width:13rem;
  height:5rem;
  text-align:center;  
  background-color:rgb(255, 255, 255);
  border-radius:5px;
}
.note-des{
  padding:3rem;

}

.note-des h5{
  font-size:13px;
  font-weight: 500;
   color: rgb(48, 60, 68);
   background-color:white;
   padding:7px;
   padding-left:11px;
   padding-right:11px;
   border-radius:4px;
   width:16rem;
   /* width:fit-content; */
}


.n-title {
    color: rgb(35, 122, 156);
    font-size: 14px;
    text-align: left;
    margin-top: 0.5rem;
    font-weight: 600;
  }

  .n-des {
    margin-top: 1rem;
    color: rgb(88, 106, 112);
    font-size: 12px;
    text-align: left;
    /* margin-left: 1rem; */
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .n-self {
    color: rgb(49, 97, 119);
    font-size: 14.5px;
    margin-top: 0.5rem;
    font-weight: 600;
    letter-spacing:-0.5px;
  }


  .n-self::first-letter{
      text-transform: uppercase;
  }




  .note-body{
    padding-top:1.2rem;

  }
  
  .note-delete {
    padding: 0.6rem;
    color: rgb(184, 138, 119);
    border-radius:13px;
    /* background-color: rgb(185, 97, 70); */
    border: solid 1px rgb(230, 219, 216);
    font-size: 12px;
    font-weight: 600;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  
  .update-note {
    padding: 0.6rem;
    border-radius:13px;
    color: rgb(95, 137, 153);
    /* background-color: rgb(69, 127, 160); */
    border: solid 1px rgb(207, 222, 231);
    font-size: 11px;
    font-weight: 600;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 1rem;
  }
  
  .colla-btn{
    color: rgb(24, 132, 182);
    /* background-color:rgb(243, 243, 243); */
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius:5px;
    border: solid 1px rgb(237, 243, 247);
    font-weight:600;
    font-size: 12px;
    width: 100%;
  }

.noterow{
    padding:3rem;
    margin-top:4rem;
}
.add{
  border: solid 2px rgb(167, 159, 184);
  padding:1px;
  border-radius:2rem;
}

.crno-btn{
    margin-top:2rem;
    background-color:rgb(83, 81, 97);
    /* height:3rem; */
    font-weight:600;
    font-size:14px;
    padding:0.8rem;
    padding-left:1.2rem;
    padding-right:1.2rem;
    border: none;
    border-radius:7px;
    color: white;
}
span{
    /* line-height:50px; */
        vertical-align:middle; 
}

.note-form{
    text-align:left;
}

.note-form input {
    height: 2.9rem;
    width: 100%;
    border-radius: 7px;
    padding-left: 1.7rem;
    border: none;
    font-size:13px;
    /* border: solid 1px rgb(230, 229, 236); */
    background-color:rgb(239, 245, 245);
  }


.note-form label {
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    color: rgb(54, 143, 179);
    margin-top: 1.3rem;
  }

  .submit {
    font-size: 13px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(63, 117, 153);
    margin-top: 2rem;
    border-radius: 19px;
    width: 7rem;
    font-weight: 600;
    height: 2.8rem;
  }

  .noti{
      color: rgb(49, 126, 156);
      margin-right: 1.2rem;
      border-radius:5px;
  }

  .modal-title{
      color: rgb(48, 128, 194);
      font-size: 14px;
  }

  .bott{
    text-align: right;
  }


 
  