*{
    padding:0;
    margin: 0;
    font-family: Poppins;
} 
.tid-task{
    text-align:center;
    padding: 3rem;
    padding-top: 4rem;
}
.tid-btn{
    text-align:center;
    padding: 3rem;
}
.tid-btn span{
    font-size:2rem;
    font-weight:500;
    color:rgb(124, 126, 255);
}

.btn-addtask{
    border: solid 1px rgb(213, 213, 241);
    background-color:rgb(255, 255, 255);
    border-radius:1.4rem;
    padding: 0.3rem;
    width:3.5rem;
    text-align: center;
}
.tihead{
    color: rgb(120, 107, 238);
    font-size:1.4rem;
    letter-spacing: -0.5px;
    font-weight:700;    
}

.tsk01{
    min-height:4rem;
    border: solid 1px rgb(231, 245, 247);
    border-radius:0.4rem;
    padding: 1.2rem;
    font-size:12px;
    margin-top: 0.5rem;
    /* background-color:rgb(250, 253, 255); */
    /* box-shadow: 0px 2px 4px rgb(238, 245, 245); */
}

.tsk01 h4{
    font-size:13px;
    color: rgb(90, 74, 236);
    font-weight:500;
}
